---
import Layout from '../layouts/Layout.astro'
const title = 'The pixelated thoughts of Muhammad Ibrahim'
const description = 'Writings, ramblings and embryonic ideas'
---

<Layout title={title} description={description}>
  <div class="container">
    <div class="languages">
      <a href="/english">English</a>
      <a href="/arabic" class="arabic">عربي</a>
    </div>
  </div>
</Layout>

<style>
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
  }

  .languages {
    display: flex;
    gap: 4rem;
  }

  .arabic {
    font-family: 'IBM Plex Sans Arabic', sans-serif;
  }
</style>
