<nav>
  <a href="/">
    <svg width="70" height="70" viewBox="0 0 137 207" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M112.062 181.927C118.024 205.468 155.188 163.343 125.854 163.343C96.5194 163.343 0 217.501 0 188.123C0 158.746 23.7802 134.93 53.1145 134.93C82.4489 134.93 105.265 155.087 112.062 181.927Z" fill="#000000"/>
        <path d="M135.218 64.1599C135.218 99.5945 82.0343 128.32 47.3226 128.32C12.6108 128.32 92.3536 99.5945 92.3536 64.1599C92.3536 28.7254 12.6108 0 47.3226 0C82.0343 0 135.218 28.7254 135.218 64.1599Z" fill="#000000"/>
        <path d="M37.6708 4.54483C37.6708 2.32876 39.4646 0.532277 41.6774 0.532277C43.8901 0.532277 45.6839 2.32876 45.6839 4.54483V146.54C45.6839 148.756 43.8901 150.553 41.6774 150.553C39.4646 150.553 37.6708 148.756 37.6708 146.54V4.54483Z" fill="#000000"/>
        <path d="M16.228 202.332L17.0131 197.512C17.4169 195.034 15.9776 192.626 13.6065 191.811C10.8807 190.875 7.91911 192.366 7.04197 195.115L5.55821 199.766C4.53965 202.959 6.57882 206.316 9.87784 206.877C12.8868 207.389 15.7364 205.349 16.228 202.332Z" fill="#000000"/>
        <path d="M89.9618 190.222L95.1277 172.209C95.7966 169.877 94.4585 167.442 92.1335 166.76C90.3955 166.25 88.5234 166.859 87.4154 168.294L64.4369 198.049C62.5127 200.54 63.0405 204.135 65.5995 205.966C67.1931 207.106 69.2691 207.319 71.0607 206.527L78.7031 203.147C84.1835 200.724 88.3076 195.989 89.9618 190.222Z" fill="#000000"/>
        </svg>

  </a>
  <ul class="nav-links">
    <li><a href="/about">About</a></li>
    <li><a href="mailto:muhammadisayyed@gmail.com">Get in touch</a></li>
  </ul>
</nav>

<style>
  nav {
    display: flex;
    width: 80%;
    margin-block: 1.5rem;
    justify-content: space-between;
    align-items: center;
  }

  .nav-links {
    display: flex;
    gap: 1.5rem;
    list-style: none;
  }

  .logo {
    width: 3rem;
  }

  @media (max-width: 847px) {
    nav {
      flex-direction: column;
      align-items: center;
      width: 90%;
    }
    ul {
      padding: 0;
    }
  }
</style>
