---
import Layout from './Layout.astro'
const { frontmatter } = Astro.props
const title = frontmatter.title
const description = frontmatter.description
---

<Layout title={title} description={description}>
  <div class="content-container" dir="rtl">
    <h1 class="article-title">{title}</h1>
    <main class="article-container">
      <slot />
    </main>
  </div>
</Layout>

<style is:inline>
  .content-container {
    display: flex;
    flex-direction: column;
    font-family: Mezura, sans-serif;

    & a {
      color: var(--color-primary-main);
      text-decoration: underline 2px var(--color-primary-main);
      text-underline-offset: 0.4em;

      &:hover {
        color: var(--color-dark-main);
        text-decoration-color: var(--color-dark-main);
        transition: all 0.2s ease-in;
      }
    }
  }

  .article-title {
    margin-block-start: 3rem;
    font-size: 3rem;
    font-weight: 800;
    /* color: var(--color-primary-main); */
    max-width: 20ch;
    line-height: 1.1;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-block-start: 2rem;
    /* color: var(--color-primary-main); */
  }

  p {
    margin-block: 0.8rem;
    font-size: 1.6rem;
    line-height: 135%;
  }

  .article-container {
    margin-block: 1.5rem;
  }

  @media (max-width: 767px) {
    .content-container {
      width: 80%;
    }
  }
</style>
